<div class="login-container" [formGroup]='loginForm'>
  <div style="flex: 100%">
    <!-- TODO: Find how to align the sticker and not get it cut -->
    <!-- <img class="sticker" src="assets/img/login-sticker.png" alt="" srcset=""> -->
    <h1>Welcome back!</h1>
    <div>
      <button mat-stroked-button class="google-login-btn">
        <img src="assets/img/logoGoogle.svg"> Login with Google
      </button>
      <div id="or-div">or</div>
    </div>
    <mat-form-field hideRequiredMarker>
      <mat-label>Username / email</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="loginForm.controls.username.invalid">
        {{getUsernameError()}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrors()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button class="login-button" color="primary" [disabled]='this.loginForm.invalid'
      (click)="onSubmit()">Login</button>
    <div class="redirect-links">
      <span class="pass-retrieve"><a href="#">Forgot password?</a></span>
      <span class="sign-up-link">No account yet?<a href="#">Sign up</a></span>
    </div>
  </div>
</div>